<tr>
    <td>BNXXXXXXX</td>
    <td>Pharmacy</td>
    <td>20/12/2001</td>
    <td>
        <a href="/updateitem" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>